input{
    width: calc(40%);
    height: 45px;
    font-size: 16px;
    display: block;
}

.btn-cal{
    padding: 10px 25px;
    background-color: #27a465;
    color: #fff;
    border: 0px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 4px;
}

